@import "./theme.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontfamily;
}

// *********************NAV**************************

.container {
  @include myBg();
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

header {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  padding: 11px;
  nav {
    li {
      @include myNav();
    }
    a {
      @include myAtag();
    }
  }
}
.current__home {
  color: $orange;
}

section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $white;
  main {
    h1 {
      border-bottom: 2px rgb(255, 255, 255) solid;
    }
    .name__full {
      font-size: $fontsize_main;
      line-height: 80px;
      font-weight: 400;
      width: 100vw;
      padding-bottom: 1.5rem;
    }
    .name__last {
      color: red;
      font-weight: 700;
    }
    h2 {
      padding-top: 1rem;
      color: $white;
    }
  }
}

footer {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icons {
    @include myIcon;
  }
  .copyright {
    @include myCopyright;
    display: block;
    padding-right: 1rem;
  }
}
