// ************************************
// ! Variable Declaration
// ************************************

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$orange: #ff652f;
$blue: #0000ff;
$fontsize_nav: 1.5rem;
$fontsize_header: 2.5rem;
$fontsize_main: 5rem;
$fontfamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$white: rgb(255, 255, 255);

@mixin myBg {
  background: linear-gradient(
      to right,
      rgba(39, 39, 39, 0.9),
      rgba(39, 39, 39, 0.3)
    ),
    url("../img/model-1.jpg");
  background-position: center;
}

@mixin myNav() {
  display: inline-block;
  padding-right: 1.5rem;
  font-size: $fontsize_nav;
  font-weight: 500;
  :hover {
    color: $blue;
    transition: 0.5s linear;
  }
  //   :link {
  //     color: red;
  //   }
}

@mixin myHeader {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  padding: 11px;
}

@mixin myAtag {
  color: white;
  text-decoration: none;
  transition: all 1s;
}

@mixin myCopyright {
  color: $white;
}

@mixin myIcon {
  ul {
    display: flex;
  }
  li {
    text-decoration: none;
    list-style-type: none;
    gap: 1rem;
    padding-left: 1rem;
  }
  a {
    padding-left: 1rem;
    color: white;
    font-size: 32px;
    :hover {
      transition: 0.5s linear;
      color: $orange;
    }
    transition: all 1s;
  }
}

@mixin myArtic {
  margin: 1rem;
  background: #414141;
  padding: 1rem;
  border-bottom: 5px solid #ff652f;
  color: $white;
}
